In [1]:
#Write a program to find the sum of even ‘n’ natural numbers. 
sum = 0
#count = 0
n = int(input())
for i in range(n):
    if i%2 ==0:
        sum += i
      #  count +=1
print(f"sum is: {sum} ")

sum is: 6

In [ ]:
#prime number
#Write a program to display the numbers sequentially from 1 to 99 with 5 numbers on  each line  

i = 1
while i <= 99:
    for j in range(5):   # print 5 numbers per line
        if i <= 99:
            print(i, end=" ")
            i += 1       # increment i each time
    print()              # move to next line after 5 numbers

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
26 27 28 29 30
31 32 33 34 35
36 37 38 39 40
41 42 43 44 45
46 47 48 49 50
51 52 53 54 55
56 57 58 59 60
61 62 63 64 65
66 67 68 69 70
71 72 73 74 75
76 77 78 79 80
81 82 83 84 85
86 87 88 89 90
91 92 93 94 95
96 97 98 99

In [12]:
#
row = int(input("enter no of rows: "))
for i in range(1,row +1):
    for j in range(i):
        if i%2 != 0:
            print ("@", end = " ")
        else:
            print("$", end = " ")
    print()

@
$ $
@ @ @
$ $ $ $
@ @ @ @ @

In [11]:
#
n = int(input("enter a number: "))
for i in range(1,n+1):
    for j in range(i):
        print("@" ,end = " ")
    print()

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @
@ @ @ @ @ @

In [ ]:

n = int(input())
for i in range(n):
    for j in range(n):
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:

#
row = int(input("enter no of rows: "))
for i in range(1,row +1):
    for k in range (n - row -1)
    for j in range(i):
        if i%2 != 0:
            print ("@", end = " ")
        else:
            print("$", end = " ")
    print()

@
$ $
@ @ @
$ $ $ $
@ @ @ @ @

In [18]:
n = int(input())
for i in range(1,n+1):
    for j in range(n - (i-1)):
        print(" ",end = " ")
    for k in range(i):
        if i%2 != 0:
            print("#", end = " ")
        else:
            print("$", end = " ")
    print()

          #
        $ $
      # # #
    $ $ $ $
  # # # # #

In [30]:
n = int(input())
for i in range(n):
    for j in range(n - i-1):
        print('%c' % (65 + i), end = " ")
    for k in range(i+1):
        if i%2 != 0:
            print("#", end = " ")
        else:
            print("$", end = " ")
    print()

A A A A $
B B B # #
C C $ $ $
D # # # #
$ $ $ $ $

In [47]:
# res =ft(row)/(ft(row-col_two))*ft(col_two)
#print(int(res), end= "")n = int(input())
from math import factorial as ft

n = int(input("enter a value: "))
for i in range(n):
    for j in range(n - i-1):
        print(' ' , end = " ")
    for k in range(i+1):
        res =ft(i)/(ft(i-k) * ft(k))
        print(int(res), end= " ")
    print()

        1
      1 1
    1 2 1
  1 3 3 1
1 4 6 4 1

In [58]:
# res =ft(row)/(ft(row-col_two))*ft(col_two)
#print(int(res), end= "")n = int(input())
from math import factorial as ft

n = int(input("enter a value: "))
for i in range(n):
    for j in range(n - i-1):
        print(' ' , end = " ")
    for k in range(i+1):
        res =ft(i)/(ft(i-k) * ft(k))
        print(int(res), end= "   ")
        

    print()

        1
      1   1
    1   2   1
  1   3   3   1
1   4   6   4   1

In [68]:
#
# res =ft(row)/(ft(row-col_two))*ft(col_two)
#print(int(res), end= "")n = int(input())
from math import factorial as ft

n = int(input("enter a value: "))
for i in range(n):
    for j in range(n - i-1):
        print(' ' , end = " ")
    for k in range(i+1):
        res =ft(i)/(ft(i-k) * ft(k))
        print(int(res), end= "   ")
    for l in range(n-i-1):
             print('%c' % (97 + i), end = "  ")    
        

    print()

          1   a  a  a  a  a
        1   1   b  b  b  b
      1   2   1   c  c  c
    1   3   3   1   d  d
  1   4   6   4   1   e
1   5   10   10   5   1

In [ ]:
#97

# 1 
# 2 3 
# 4 5 6 
# 7 8 9 10 



num = 1
for i in range(1,5):
    for j in range(i):
        print(num , end = " ")
        num +=1
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
#98
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end =" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#99
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end= " ")
   
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#100
for i in range(0,6):
    for j in range(1,i+1):
        print(j, end = " ")
    print(1)

1
1 1
1 2 1
1 2 3 1
1 2 3 4 1
1 2 3 4 5 1

In [ ]:
#101
for i in range(5,0, -1):
    for j in range(i):
        print(j+1 , end = " ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#103
for i in range(5,0, -1):
    for j in range(i):
        print(i , end = " ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
#102
for i in range(1,6):
    for j in range(6-i):
        print(i, end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5